<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=false;">
  <title> Nicholas Zhao</title>
  <link rel="stylesheet" href="s/v/bootstrap-3.0.0/css/bootstrap.min.css" /> 
  <link rel="stylesheet" href="s/styles/index.css" />
  <link rel="icon" type="image/png" href="s/images/myicon.jpg">
</head>
<body>
  <div class="container">
    <div class="row">
      <a href="s/images/profile_large.jpg" target="_blank">
        <img src="s/images/profile_large.png" class="col-xs-12" alt="profile"> 
      </a>
    </div>
    <div class="row">
      <div class="card-wrapper col-xs-12 col-sm-6">
        <div id="about" class="card">
          <h1>
            <a href="https://www.facebook.com/nicholas.zhaoyu" id="name" target="_blank">Nicholas Zhao</a>
          </h1>
          <div class="contact">
            <span class="title">Me on the web</span>
            <ul>
              <li><a class="contact-item" href="https://twitter.com/Nich01as_cn" target="_blank">@Nich01as_cn</a></li>
              <li><a class="contact-item" href="https://plus.google.com/u/1/112380956998122502531/posts" target="_blank">+Nicholas</a></li>
              <li><a class="contact-item" href="http://www.weibo.com/nicholaszhaoyu/" target="_blank">@Nich01as on weibo</a></li>
              <li><a class="contact-item" href="http://www.renren.com/226106048/profile" target="_blank">Fei Xu on Renren</a></li>
              <li><a class="contact-item" href="http://www.linkedin.com/profile/view?id=83309410&trk=wvmp-profile" target="_blank">Yu Zhao on Linkedin</a></li>
              <li><span class="light-grey">Chinese blog</span> <a class="contact-item" href="http://nicholas.zhaoyu.blog.163.com/" target="_blank">nicholas.zhaoyu.blog.163.com</a></li>
              <li><span class="light-grey">English blog</span> <a class="contact-item" href="http://blog.nich01as.com/" target="_blank">blog.nich01as.com/</a></li>
              <li><a href="https://github.com/niczy" class="contact-item">github</a></li> 
            </ul>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-xs-12 col-sm-6">
        <div id="story" class="card">
            <span class="title">What I have built</span>
            <ul>
              <li>Improved the mail translation for <a href="http://mail.163.com/" target="_blank" >163 mail</a> by splitting the email threads. </li> 
              <li>Redesign and implemented the frontend of <a href="http://t.163.com" target="_blank">Netease Microblog</a> with <a href="https://twitter.com/perfectworks" target="_blank">@__pw__</a> <a href="http://www.weibo.com/huzitony" target="_blank">@yuanzu</a> <a href="https://twitter.com/tangqiaoboy" target="_blank" >@tangqiaoboy</a></li>
              <li><a href="s/contra/web/contra.html" target='_blank'>A web game</a>(it takes a while to load...) built with Dart in a hackthon at Google with <a href="https://twitter.com/sly9" target="_blank">@sly9</a> <a href="https://twitter.com/Etrnls">@Etrnls</a> <a href="https://github.com/speakless86">@Taoqin</a> </li>
              <li>Designed and implemented log collecting and analysis server and censorship server (Yes, I did it and I am ashamed of it.) for <a href="http://t.163.com">Netease Microblog</a> </li>
              <li>Built an <a href="https://play.google.com/store/apps/details?id=com.nich01as.air" target="_blank">app</a> to check PM2.5 in Beijing, got hundreds of daily active users.</li>
              <li>Built an <a href="https://play.google.com/store/apps/details?id=com.nich01as.trafic" target="_blank">app</a> to help people prepare driver's license wiritten test, got thousands daily active users. Paying this domain with money made from this app.</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer pull-right light-grey">
      Powered by: Appengine, Bootstrap
    </div>
  </div>
</body>
</html>
