<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=false;">
    <title> Nicholas Zhao</title>
    <link rel="stylesheet" href="s/v/bootstrap-3.0.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="s/styles/index.css" />
    <link rel="icon" type="image/png" href="s/images/myicon.jpg">
  </head>
  <body>
    <form action="/login3" method="post">
      <input type="email" name="email" id="email"></input>
      <input type="password" name="password333" id="password333"></input>
      <input type="submit" name="submit">Submit</input>
    </form>
  </body>
</html>

