<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title> Nicholas Zhao</title>
    <link rel="stylesheet" href="/s/v/bootstrap-3.0.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="/s/styles/index.css" />
    <link rel="icon" type="image/png" href="/s/images/myicon.jpg">
    <link rel="stylesheet" href="/s/styles/apps/toefl/reading_list.css" />
  </head>
  <body>
    <div class="container">
      <h2> TPO Reading Practice </h2>
      <h4>The practice page requires Google account :-) </h4>
      {% for name in names %}
        <a class="btn btn-default tpo-reading" href="/toefl/reading/{{ name }}">{{ name }}</a>
      {% endfor %}
      <div class="footer pull-right">
        <a href="mailto:toefl@nich01as.com" target="_top">TOEFL@nich01as.com</a>
      </div>
    </div>
    
  </body>
</html>
