<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title> Nicholas Zhao</title>
    <link rel="stylesheet" href="/s/v/bootstrap-3.0.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="/s/styles/index.css" />
    <link rel="icon" type="image/png" href="/s/images/myicon.jpg">
    <link rel="stylesheet" href="/s/styles/apps/toefl/reading.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="questions">
            <ol>
              {% for question in questions %}
                {{ question }}
              {% endfor %}
            </ol>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="article">
            <h2>
              {{ title }}
            </h2>
            {% for paragraph in paragraphs %}
            <p>
              {{ paragraph }}
            </p>
            {% endfor %}
          </div>
        </div>
      </div> 
    </div>
  </body>
</html>
