<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Best web experience for TOEFL reading test.">
    <title>TOEFL Reading</title>
    <link rel="stylesheet" href="/s/v/bootstrap-3.0.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="/s/styles/index.css" />
    <link rel="icon" type="image/png" href="/s/images/myicon.jpg">
    <link rel="stylesheet" href="/s/styles/apps/toefl/base.css" />
    <link rel="stylesheet" href="/s/styles/apps/toefl/reading.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="timer">
          <span class="time" id="time"> 20:00 </span>
          <button id="timer-start" class="btn btn-default">Start</button>
          <button id="timer-reset" class="btn btn-default">Reset</button>
        </div>
        <div class="question-control pull-right">
          <button id="back-to-list" class="btn btn-default">Return to list</button>
          <button id="show-answers" class="btn btn-default">Show Answers</button>
          <button id="previous-question" class="btn btn-default" disabled="true">Previous</button>
          <button id="next-question" class="btn btn-default">Next</button> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="questions overflow">
            <ul>
              {% for question in questions %}
              <li class="question question-{{ loop.index }} hidden">
                <b>{{ loop.index }}. </b>
                {{ question }}
              </li> 
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="article overflow">
            <h2>
              {{ title }}
            </h2>
            {% for paragraph in paragraphs %}
            <p>
              {{ paragraph }}
            </p>
            {% endfor %}
          </div>
        </div>
      </div> 
    </div>
    <script src="/s/scripts/libs/jquery-2.0.3.min.js"></script>
    <script src="/s/scripts/apps/toefl/reading.js"></script>
  </body>
</html>
