<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title> Nicholas Zhao</title>
    <link rel="stylesheet" href="/s/v/bootstrap-3.0.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="/s/styles/index.css" />
    <link rel="icon" type="image/png" href="/s/images/myicon.jpg">
    <link rel="stylesheet" href="/s/styles/apps/toefl/reading.css" />
    http://webaudiodemos.appspot.com/AudioRecorder/index.html
  </head>
  <body>
    <form action="">
      <input type="file" accept="audio/*;capture=microphone"> 
    </form>
  </body>
</html>

