<div>
  <h2> Finish up </h2>
  <hr/>
  <p class="description">Laekt shek Jhsl wjsgs  dhlks dg </p>
  <div class="finish-up">
    <div>
      <input type="checkbox"> Google+ public profile Legal opt in text goes here </input>
    </div>
    <div>
      <input type="checkbox"> Allow Google to use your information to personalize content and ads on non-Google websites.</input>
    </div>
    <div>
      <input type="checkbox"> Trun on web history.</input>
    </div>
    <div>
      <input type="checkbox"> Keeps me up to date with news and offers from Google play</input>
    </div>
  </div>
  <p>
    Bld asdkjr kjsye va asksjdk Htk s ehs Goole sehs sjdsjfkasj ashfj dfshw sjfsas sdkjd s k sd kai sdvja   skdjfkasjg .
  </p>
  <div class="nav" ng-controller="NavCtrl">
    <a class="btn" ng-click="goLast('/signup/3')">Last</a>
    <a class="btn" ng-click="goNext('/signup/1')">Next</a>
  </div>
</div>
