<div>
  <h2> Create your Google Clount PIN </h2>
  <hr/>
  <p class="description">Laekt shek Jhsl wjsgs  dhlks dg </p>
  <div class="cloud-pin">
    <input class="input-text" type="text" name="firstName"> </input>
    <input class="input-text" type="text" name="lastName"> </input>
    <input class="input-text" type="text" name="firstName"> </input>
    <input class="input-text" type="text" name="firstName"> </input>
  </div>
  <div class="nav" ng-controller="NavCtrl">
    <a class="btn" ng-click="goLast('/signup/2')">Last</a>
    <a class="btn" ng-click="goNext('/signup/4')">Next</a>
  </div>

</div>
