<div>
  <h2> Your name </h2>
  <hr/>
  <p>Your name is used to personalize your device and Google services</p>
  <div class="real-name">
    <div>
      <input type="text" name="firstName" placeholder="First Name"> </input>
    </div>
    <div>
      <input type="text" name="lastName" placeholder="Last Name"> </input>
    </div>
    <div>
      <select type="text" name="gender" placeholder="Last Name">
        <option value="other" selected>Gender</option>
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
    </div>
  </div>
  <div class="nav" ng-controller="NavCtrl">
    <a class="nav-link" ng-click="goLast('/signup/1')">Last</a>
    <a class="nav-link" ng-click="goNext('/signup/3')">Next</a>
  </div>
</div>
