<div class="content">
  <h2> Your name </h2>
  <hr/>
  <p>Your name is used to personalize your device and Google services</p>
  <form class="real-name">
    <div>
      <input type="text" class="input-text" name="firstName" placeholder="First Name"> </input>
    </div>
    <div>
      <input type="text" class="input-text" name="lastName" placeholder="Last Name"> </input>
    </div>
    <div>
      <div class="form-spinner">
        <a href="javascript: void(0);" class="toggle-spinner">Gender</a>
        <ul class="spinner">
          <li class="spinner-item"><a href="javascript: void(0)">maile</a></li>
          <li class="spinner-item"><a href="javascript: void(0)">female</a></li>
        </ul>
      </div>
    </div>
  </form>
  <div class="nav" ng-controller="NavCtrl">
    <a class="btn" ng-click="goLast('/signup/1')">Last</a>
    <a class="btn" ng-click="goNext('/signup/3')">Next</a>
  </div>
</div>
