.questions {
  height: 640px;
  padding-top: 65px;
  padding-right: 30px;
}
.questions .question{
  margin: 0 0 50px 0;
}
.questions .choice {
  list-style-type: none;
  margin: 2px 0 0 -40px;
}
.questions .choice input[type="radio"] {
  margin: 4px 6px 0 0;
}
.article {
  height: 640px;
  min-height: 100%;
  padding-left: 10px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #CBCCCF;
  padding-right: 30px;
}
.overflow {
  overflow: auto;
}
.container {
  margin-bottom: 30px;
}
.hidden {
  display: none;
}
.question-control {
  margin: 0 20px 20px 0;
}
.question-control button{
  margin: 0 10px 0;
}
.answer-wrong {
  background: red;
}
.answer-correct {
  background: green;
}


